PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=lendsqr_wallet
JWT_SECRET=supersecretjwtkeychangeinprod
ADJUTOR_API_KEY=your_adjutor_api_key_here
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_gmail_address@gmail.com
SMTP_PASS=your_gmail_app_password
KARMA_CHECK_BYPASS=false

